body {
  font-family: Helvetica, sans-serif;
}

#canvasdiv {
  border: 2px solid #000;
  background-color: #EEE;
}

#counter {
  text-align:left;
  display: inline;
}

.sliders {
  text-align: left;
}
